<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="wrap">
    <nav class="navigation">
        <div class="container">
            <h1 class="logo">台北一日遊</h1>
            <ul>
                <il>預定行程</il>
                <il>登入/註冊</il>
            </ul>
        </div>
    </nav>
    <section class="banner">
        <div class="container">
            <div class="slogan">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
            </div>
            <div class="search">
                <input class="keyword" type="text" placeholder="輸入景點名稱查詢">
                <div class="searchBtn"><img src="../static/img/search.png" alt=""></div>
            </div>
        </div>
        <img class="dec_img" src="../static/img/welcomeFig.png" alt="">
    </section>
    <section calss="attractions">
        <div class="container">

        </div>
        <div class="nodata">資料到底</div>
    </section>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="static/index.js"></script>
</body>

</html>